*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}


/* ============ project code ============ */

.animalsDisplay{
  display: flex;
  justify-content: center;
  background-color: var(--color1);
  padding: 50px;
}


.animalsDisplay div{
    height: 500px;
    width: 100px;
}

.panel{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.activePanel{
    flex: 0.6;
}

.activePanel h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}



@media screen and (max-width: 600px){
    .panel{
        flex: 0.1;
    }

    .panel.activePanel{
        flex: 1;
    }

    .container {
        width: 100vw;
    }
    .panel:nth-of-type(3),
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }

    .Nemo .Tiger{
      display: none;
    }
}