*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}

:root{
  --color1: rgb(0, 92, 179);
  --color2: rgb(0, 18, 53);
}


/* ============ project code ============ */



.projectContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background-color: var(--color1);
}



.poke-container{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1500px;
}

.pokemon {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container{
  background-color: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img{
  max-width: 90%;
  margin-top: 20px
}

.pokemon .info{
  margin-top: 20px;
}

.pokemon .info .number{
  background-color: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.pokemon .info .name{
  margin: 15px 0 7px;
  letter-spacing: 1px;
}