*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}

:root{
  --color1: rgb(0, 92, 179);
  --color2: rgb(0, 18, 53);
}


/* ============ project code ============ */

.projectContainer{
  background-color: var(--color1);
  height: 50vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btnToast{
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btnToast:focus{
  outline: none;
}

.btnToast:active{
  transform: scale(0.98);
}

#toasts{
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast{
  background-color: #fff;
  color: var(--color1);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 480px){
  .toast{
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
  }
}