*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

/* ============ MENU TOGGLE ALL PAGES============ */

:root{
  --color1: rgb(0, 92, 179);
  --color2: rgb(0, 18, 53);
}

.containerAllPages{
  position: relative;
  width: 100%;
  height: 100vh;
}

.menuToggle{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 50px;
  transition: width 0.6s linear;
  top: 0;
  right: 0;
}


/* ============ project code ============ */

section{
  background-color: var(--color1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px 0 ;
  text-align: center;
}


section h2{
  margin: 10px 0 0;
}

section h3{
  font-weight: 400;
  margin: 10px 0;
}

.cup{
  background-color: white;
  border: 4px solid var(--color2);
  color: var(--color2);
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cup.cup-small{
  height: 95px;
  width: 50px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255,255,255,0.9);
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

.cup.cup-small.full{
  background-color: rgb(93, 172, 247);
  color: white;
}

.cups{
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.remained{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remained span{
  font-size: 20px;
  font-weight: bold;
}

.remained small{
  font-size: 12px;
}

.percentage{
  background-color:rgb(93, 172, 247) ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  height: 0;
  transition: 0.3s ease;
}

.text {
  text-align: center;
  margin: 0 0 5px;
}