*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}

:root{
  --color1: rgb(0, 92, 179);
  --color2: rgb(0, 18, 53);
}


/* ============ project code ============ */


.projectSection{
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.kinetic {
  position: relative;
  height: 80px;
  width: 80px;
}

.kinetic::after, 
.kinetic::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: var(--color2) ; 
  animation: rotateA 2s linear infinite 0.5s;
}

.kinetic::before{
  transform: rotate(90deg);
  animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
  0%, 25% {
    transform: rotate(0deg);
    
  }

  50%, 75%{
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%, 25% {
    transform: rotate(90deg);
    
  }

  50%, 75%{
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}

