*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}

:root{
  --color1: rgb(0, 92, 179);
  --color2: rgb(0, 18, 53);
}


/* ============ project code ============ */

.projectContainer{
  display: flex;
  background-color: var(--color1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 40px 0px;
}

.user-form{
  width: 90%;
  max-width: 700px;
}

.user-form input{
  width: 100%;
  display: block;
  background: var(--color2);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

.user-form input::placeholder{
  color: #bbb;
}

.user-form input:focus{
  outline: none;
}

.card{
  max-width: 800px;
  background-color: var(--color2);
  border-radius: 20px;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  padding: 2rem;
  margin: 0px 20px 50px 20px;
}

.avatar{
  border-radius: 50%;
  border: 5px solid var(--color1);
  height: 150px;
  width: 150px;
}

.user-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #eee;
  margin-left: 2rem;
}
.user-info h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-info ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-info ul li{
  display: flex;
  align-items: center;
}

.user-info ul li strong{
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo{
  text-decoration: none;
  color: #fff;
  background-color: var(--color1) ;
  font-size: 0.7rem;
  padding: 0.25rem 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media only screen and (max-width: 500px){
  .card{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-info{
    margin-top: 10px;
  }

  .user-info ul{
    flex-direction: column;
  }

  .user-info ul li{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .user-form{
    max-width: 400px;
  }
}
