*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito','Arial';
  letter-spacing: 1px;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}

/* ============ project code ============ */


.customizeMe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 230px;
  margin-bottom: 20px;
}

.customizeMe h2{
  margin-bottom: 20px;
}

.customizeMe h4{
  padding: 5px;
}

.projectCalculator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--color1);
  padding: 20px;
}

.calculadora{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
  box-shadow: -10px 10px 4px rgba(0,0,0,0.2);
}

.display{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100px;
  width: 90%;
}

.display div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  height: 70%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 5px;
}

.display div h3{
  font-style: italic;
  margin-left: 15px;
  font-size: 1.8rem;
}

.allBtns{
  padding: 10px;
}

.displayBtn{
  display: flex;
  flex-direction: column;
}


.btnHorizontal{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button{
  width: 55px;
  height: 45px;
  margin: 8px;
  font-size: 1.1rem;
  border:transparent;
  border-radius: 5px;
  background-color: rgb(14, 14, 14);
  color: white;
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
  box-shadow: -3px 2px 4px rgba(0,0,0,0.4);
}

button:focus{
  outline: none;
}

.btnOpenBrackets,
.btnCloseBrackets,
.btnDEL,
.btnPlus,
.btnMultiply,
.btnMinus,
.btnDivided{
  border-radius: 5px;
  background-color: rgb(14,14,14);
  color: gray;
}

.btnEqual,
.btnAC{
  border-radius: 5px;
  background-color: rgb(14,14,14);
  color: orangered;
}
